/[^.]*

.CFUserTextEncoding
.Trash
.aws/credentials
.bash_aliases
.bash_history
.bash_it/*
.bash_sessions
.bundle/cache
.cache
.config
.docker
.gem
.gitconfig
.jenv
.lesshst
.local
.m2
.mysql_history
.netrc
.npm
.oracle_jre_usage
.pyenv
.python_history
.rbenv
.sh_history
.ssh
.subversion
.terminal_themes
.terraform.d
.tmux
.vim
.viminfo*
.yarnrc

*.tmp

!.bash_it/custom
