/[^.]*

.CFUserTextEncoding
.Trash
.aws/credentials
.bash_history
.bash_it/*
.bash_sessions
.bundle/cache
.cache
.gem
.gitconfig
.netrc
.pyenv
.rbenv
.sh_history
.ssh
.subversion
.terminal_themes
.terraform.d
.tmux
.vim
.viminfo

!.bash_it/custom
